# Ignore __pycache__ directories
__pycache__/

# Ignore environment files
.env

# Ignore the virtual environment directory
autollamaenv/

# Ignore logs directory
logs/

# Ignore ai_settings.yaml file
ai_settings.yaml

# Ignore auto_llama_workspace directory
auto_llama_workspace/
